﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html ng-app="splatApp" ng-controller="SplatoonController">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title translate="{{Title}}"></title>
    
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/lib/slick-carousel/slick/slick.css" />
        <link rel="stylesheet" href="~/lib/slick-carousel/slick/slick-theme.css" />
    </environment>
    <environment names="Staging,Production">      
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/slick-carousel/slick/slick.min.css" />
        <link rel="stylesheet" href="~/lib/slick-carousel/slick/slick-theme.min.css" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
    
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-translate/angular-translate.js"></script>
        <script src="~/lib/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
        <script src="~/lib/slick-carousel/slick/slick.js"></script>
        <script src="~/lib/angular-slick/dist/slick.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/ika.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/lib/angular/angular.min.js"></script>
        <script src="~/lib/angular-translate/angular-translate.min.js"></script>
        <script src="~/lib/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
        <script src="~/lib/slick-carousel/slick/slick.min.js"></script>
        <script src="~/lib/angular-slick/dist/slick.min.js"></script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/ika.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</head>
<body class="bg bg-1">
<div>
    <div id="ika_swim"></div>
    <script>
        (function() {
            ika_swim('div#ika_swim');
        })();
    </script>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <button type="button" class="btn btn-primary language pull-right" ng-click="toggleLanguage()">
                <span translate="UI_TOGGLEICON"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" translate="UI_SITETITLE"></a>
        </div>
    </nav>
    
    <div class="container body-content">
        <h3 translate="UI_DATE" class="text-center"></h3>
        <div class="player-icons">
            <a href="https://twitter.com/Dunnymeister" target="_blank"><img src="images/players/dunny.png"/></a>
            <a href="https://twitter.com/ss_hikaru" target="_blank"><img src="images/players/hikaru.png"/></a>
            <a href="https://twitter.com/MsAminePocky" target="_blank"><img src="images/players/moo.png"/></a>
            <a href="https://twitter.com/toomanygain" target="_blank"><img src="images/players/stina.png"/></a>
            <a href="https://www.hungryjacks.com.au/menu/whopper-icons/whopper" target="_blank"><img src="images/players/hamburger.png" /></a>
            <a href="https://twitter.com/ginza_nekomura" target="_blank"><img src="images/players/paisen.png"/></a>
            <a href="https://twitter.com/tony_key" target="_blank"><img src="images/players/tony.png"/></a>
            <a href="https://twitter.com/mirakurumaus" target="_blank"><img src="images/players/maus.png"/></a>
            <a href="https://twitter.com/shikinakoc" target="_blank"><img src="images/players/nakochi.png"/></a>
        </div>
        <div class="date h5 visible-xs visible-sm">
            <div>Perth 10pm</div>
            <div>日本 11pm</div>
        </div>
        <div class="date h3 hidden-xs hidden-sm">
            <div>Perth 10pm</div>
            <div>日本 11pm</div>
        </div>
        @RenderBody()
    </div>
</div>
</body>
</html>

