﻿@import "../lib/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

// Override any variables in the bootstrap
$text-color: white;

// Set up the relative paths for fonts
$bootstrap-sass-asset-helper: true;
$icon-font-path: "../lib/bootstrap-sass/assets/fonts/bootstrap/";

@function twbs-font-path($path) {
    @return $path;
}

@import "../lib/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// Our custom CSS
body {
    &.bg {
        background-size: 50%;
        background-repeat: repeat;
        @include transition(background 2s ease-in-out);
    }

    &.bg-1 {
        background-image: url('/images/background/bg-1.png');
    }

    &.bg-2 {
        background-image: url('/images/background/bg-2.png');
    }

    &.bg-3 {
        background-image: url('/images/background/bg-3.png');
    }

    &.bg-4 {
        background-image: url('/images/background/bg-4.png');
    }
}

h1, .h1 {
    margin-top: 4px;
}

.navbar-header  {
    width: 100%;
}

.slick-slide:focus, .btn:focus, .btn:active {
    outline: none !important;
}

.slick-next,
.slick-prev {
    z-index: 100;
    transform: scale(1.5) !important;
}

.slick-next {
    right: 0px !important;
}

.slick-prev {
    left: 0px !important;
}

.stage {
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 20px;
    background: rgba(0,0,0,0.5);
    border-radius: 14px;
    transition: all 300ms ease;

    &.slick-active {
        opacity: 0.4;
    }

    &.slick-current {
        opacity: 1;
    }

    .stage-thumbnail {
        margin-top: 32px;
        margin-left: 20px;
        position: relative;

        .heading-bg {
            position: absolute;
            top: -32px;
            left: -28px;
            width: 386px;
            height: 90px;
            padding-left: 32px;
            background-image: url('/images/heading-bg.png');

            h1, .h1 {
                line-height: 83px;
                margin: 0px;
            }
        }

        img {
            width: 100%;
        }
    }
}

@media (min-width: $screen-lg-desktop) {
    .stage {
        width: 640px;
    }
}

@media (max-width: $screen-lg-min) {
    .stage {
        width: 600px;
    }
}

@media (max-width: $screen-md-min) {
    .stage {
        width: 480px;
    }
}

@media (max-width: $screen-xs-min) {
    .stage {
        width: 280px;
    }
}

// Animated squids
div {
    &#ika_swim {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: -1;
    }

    &.maus {
        width: 64px;
        height: 64px;
        position: absolute;
        background: url(/images/maus.png) 0px 0px no-repeat;
        opacity: 0.7;
    }

    &.ika {
        width: 64px;
        height: 64px;
        position: absolute;

        &.frame_00 {
            background: url(/images/ika.png) 0px 0px no-repeat
        }

        &.frame_01 {
            background: url(/images/ika.png) -64px 0px no-repeat
        }

        &.frame_02 {
            background: url(/images/ika.png) -128px 0px no-repeat
        }

        &.frame_03 {
            background: url(/images/ika.png) -192px 0px no-repeat
        }

        &.frame_04 {
            background: url(/images/ika.png) -256px 0px no-repeat
        }

        &.frame_05 {
            background: url(/images/ika.png) -320px 0px no-repeat
        }

        &.frame_06 {
            background: url(/images/ika.png) -384px 0px no-repeat
        }

        &.frame_07 {
            background: url(/images/ika.png) -448px 0px no-repeat
        }

        &.frame_08 {
            background: url(/images/ika.png) -512px 0px no-repeat
        }

        &.frame_09 {
            background: url(/images/ika.png) -576px 0px no-repeat
        }

        &.frame_10 {
            background: url(/images/ika.png) -640px 0px no-repeat
        }

        &.frame_11 {
            background: url(/images/ika.png) -704px 0px no-repeat
        }

        &.frame_12 {
            background: url(/images/ika.png) -768px 0px no-repeat
        }

        &.frame_13 {
            background: url(/images/ika.png) -832px 0px no-repeat
        }

        &.frame_14 {
            background: url(/images/ika.png) -896px 0px no-repeat
        }

        &.frame_15 {
            background: url(/images/ika.png) -960px 0px no-repeat
        }

        &.frame_16 {
            background: url(/images/ika.png) -1024px 0px no-repeat
        }

        &.frame_17 {
            background: url(/images/ika.png) -1088px 0px no-repeat
        }
    }
}

// Flags
$flag-icon-css-path: '../lib/flag-icon-css/flags';
@import "../lib/flag-icon-css/sass/flag-icon.scss";

.language {
    position: relative;
    top: 7px;
    &:hover {
        cursor: pointer;
    }
}

.navbar-brand  {
    padding-left: 0px;
    margin-left: 0;
}

@media (min-width: 768px)
{
    .navbar-brand {
        padding-left: 15px;
        margin-left: 0;
    }
}

.player-icons {
    text-align: justify;

    &:after {
        content: '';
        width: 100%; /* Ensures justification for single lines */
        display: inline-block;
    }

    img {
        display: inline-block;
        width: 9.5%;
    }
}

.date {
    margin: 0 auto;
    width: 50%;
    min-width: 320px;
    text-align: justify;

    &:after {
        content: '';
        width: 100%; /* Ensures justification for single lines */
        display: inline-block;
    }

    div {
        display: inline-block;
    }
}

h3 {
    margin-top: 0;
}