﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <slick infinite="true" center-mode="true" slides-to-show="3" slides-to-scroll="1" dots="false" arrows="true" center-padding="0px" variable-width="true">
            <div ng-repeat="stage in stages" class="stage">
                <div class="stage-thumbnail hidden-xs">
                    <div class="heading-bg">
                        <h1>
                            <span translate="UI_STAGENUMBER"></span>&nbsp;<span ng-bind="stage.Number"></span>
                        </h1>
                    </div>
                    <img ng-src="{{stage.Image}}"/>
                </div>
                <div class="visible-xs">
                    <h1>
                        <span translate="UI_STAGENUMBER"></span>&nbsp;<span ng-bind="stage.Number"></span>
                    </h1>
                    <div class="stage-thumbnail">
                        <img ng-src="{{stage.Image}}" />
                    </div>
                </div>

                <h2 ng-bind="stage.Theme | translate"></h2>
                <h3>
                    <span translate="{{stage.Mode}}"></span> / <span translate="{{stage.Name}}"></span>
                </h3>
                <p translate="{{stage.Description}}"></p>
            </div>
        </slick>
    </div>
</div>